# ==========================================
# GLOBAL CONFIGURATION
# ==========================================
region       = "us-east-1"
project_name = "your-project-name"
environment  = "dev"

# Common tags applied to all resources
common_tags = {
  Project      = "your-project-name"
  Environment  = "dev"
  ManagedBy    = "Terraform"
  Owner        = "your-name"
  Architecture = "2-tier"
}

# ==========================================
# AVAILABILITY ZONES
# ==========================================
az1 = "us-east-1a"
az2 = "us-east-1b"

# ==========================================
# VPC CONFIGURATION
# ==========================================
vpc_cidr_block       = "10.0.0.0/16"
enable_dns_support   = true
enable_dns_hostnames = true

# ==========================================
# PUBLIC SUBNETS (WEB / ALB TIER)
# ==========================================
public_subnet_az1_cidr  = "10.0.1.0/24"
public_subnet_az2_cidr  = "10.0.2.0/24"
map_public_ip_on_launch = true

# ==========================================
# PRIVATE SUBNETS (APP TIER)
# ==========================================
private_subnet_az1_cidr         = "10.0.3.0/24"
private_subnet_az2_cidr         = "10.0.4.0/24"
private_map_public_ip_on_launch = false