# -----------------------------
# GLOBAL CONFIGURATION
# -----------------------------
region        = "us-east-1"
project_name  = "your-project-name"
environment   = "dev"

# -----------------------------
# VPC CONFIGURATION
# -----------------------------
vpc_cidr_block = "10.0.0.0/16"

# -----------------------------
# PUBLIC SUBNETS (WEB TIER)
# -----------------------------
public_subnet_az1_cidr = "10.0.1.0/24"
public_subnet_az2_cidr = "10.0.2.0/24"

# -----------------------------
# PRIVATE APP SUBNETS (APP TIER)
# -----------------------------
private_app_subnet_az1_cidr = "10.0.3.0/24"
private_app_subnet_az2_cidr = "10.0.4.0/24"

# -----------------------------
# PRIVATE DATA SUBNETS (DB TIER)
# -----------------------------
private_data_subnet_az1_cidr = "10.0.5.0/24"
private_data_subnet_az2_cidr = "10.0.6.0/24"